
@model IEnumerable<ChildHealthBook.Web.Models.IdentityDtos.WebParentReadDto>
@{
    var eventId = ViewContext.RouteData.Values["id"];
}
@using ChildHealthBook.Web.Models.Session;
@using Newtonsoft.Json;
@{
    var userData = new AuthUserSession();
    if (Context.Request.Cookies["UserData"] != null)
    {
        userData = JsonConvert.DeserializeObject<AuthUserSession>(Context.Request.Cookies["UserData"]);
    }  
}

<form asp-action="ShareEvent">
    <div class="container p-4 border">
        <div class="row pb-2">
            <div class="col">
                <h1 class="text-primary">Choose parent</h1>
            </div>

        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        FullName
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    if (Model.Count() > 0)
                    {
                        @foreach (var item in Model)
                        {
                            if (item.Id != userData.Id)
                            {
                <tr>
                    <td>
                        @item.FullName
                    </td>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @eventId
                    </td>
                    <td>
                        <a class="btn btn-info" asp-action="Share" asp-route-id="@eventId" asp-route-val="@item.Id">
                            Share
                        </a>
                    </td>
                </tr>
                            }
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</form>