@using ChildHealthBook.Web.Models.Session;
@using Newtonsoft.Json;
@{
    var userData = new AuthUserSession();
    if (Context.Request.Cookies["UserData"] != null)
    {
        userData = JsonConvert.DeserializeObject<AuthUserSession>(Context.Request.Cookies["UserData"]);
    }
}


@if (userData.AccountType == "Parent")
{
<div class="d-flex align-items-center">
    <li class="nav-item pt-leg-1">
        <a class="nav-link" asp-area="" asp-controller="Parent" asp-action="ChildrenIndex">My Children</a>
    </li>
    <li class="nav-item pt-leg1">
        <a class="nav-link" asp-area="" asp-controller="Parent" asp-action="SharedEvent">Shared events</a>
    </li>
</div>
}
else if (userData.AccountType == "Scientist")
{
<div class="d-flex align-items-center">
    <li class="nav-item pt-leg-1">
        <a class="nav-link" asp-area="" asp-controller="Analytics" asp-action="AnalysisIndex">Analysis</a>
    </li>
    <li class="nav-item pt-leg-1">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="RegisterScientist">Register new scientist</a>
    </li>
</div>

    }
    else
    {

<div class="d-flex align-items-center">
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="RegisterParent">Register as parent</a>
    </li>
</div>
    }
    @if (userData.AccountType != null)
    {
<div class="d-flex align-items-center">
    <li class="nav-item">
        <p class="nav-link m-0" style="cursor: pointer">@(userData.AccountType != "Scientist" ? $"{userData.Name} {@userData.Surname}" : $"{userData.Email}")</p>
    </li>

    <li class="nav-item">
        <a class="nav-link" asp-controller="Accounts" asp-action="Logout">Logout</a>
    </li>
</div>
}