@model ChildHealthBook.Web.Models.Errors.CustomErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">This error message means you entered invalid data, see message below to see information</h2>

<h3>@Model.ErrorHeader</h3>
<p>
   @Model.Details
</p>
<p>
    <strong>@Model.PossibleSolutions</strong>
</p>

