@model ChildHealthBook.Common.Identity.DTOs.ParentRegisterDTO



<h2 class="text-primary">Sign Up</h2>
<form method="post" asp-antiforgery="false" asp-action="RegisterParent" asp-controller="Accounts">
    <h4 class="text-primary">Create a new Account</h4>
    <hr />

    <div class="form-group row">
        <label asp-for="UserCredentials.UserName" class="col-md-2">Login</label>
        <div class="col-md-10">
            <input asp-for="UserCredentials.UserName" class="form-control">
            <span asp-validation-for="UserCredentials.UserName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="UserCredentials.Password" class="col-md-2">Password</label>
        <div class="col-md-10">
            <input type="password" asp-for="UserCredentials.Password" class="form-control">
            <span asp-validation-for="UserCredentials.Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="UserCredentials.ConfirmPassword" class="col-md-2">Confirm Password</label>
        <div class="col-md-10">
            <input type="password" asp-for="UserCredentials.ConfirmPassword" class="form-control">
            <span asp-validation-for="UserCredentials.ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Name" class="col-md-2">Name</label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Surname" class="col-md-2">Surname</label>
        <div class="col-md-10">
            <input asp-for="Surname" class="form-control">
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
    </div>

        <div class="form-group row">
            <label asp-for="DateOfBirth" class="col-md-2">Date of birth</label>
            <div class="col-md-10">
                <input asp-for="DateOfBirth" class="form-control" value="">
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Phone" class="col-md-2">Phone</label>
            <div class="col-md-10">
                <input asp-for="Phone" class="form-control" placeholder="Format: xxx xxx xxx ">
                <span class="text-danger" asp-validation-for="Phone"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="UserCredentials.Email" class="col-md-2">Email</label>
            <div class="col-md-10">
                <input asp-for="UserCredentials.Email" class="form-control">
                <span asp-validation-for="UserCredentials.Email" class="text-danger"></span>
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-10 offset-md-2">
                <input type="submit" value="Register" class="btn btn-success">
            </div>
        </div>


</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}